/*MY RESET*/
html,
body{
	margin: 0;
	padding: 0;
	line-height: 1;
}
ol, ul {
list-style: none;
}
figure, ul{
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
padding: 0;
}
p, h1,h2,h3,h4,h5,h6,ul,
figure{
	margin: 0px;
}
a:focus,
input:focus{outline: none;}
*{
	box-sizing: border-box;	
	margin: 0;
	padding: 0;
}
/*PRE STYLES*/
.cl{clear: both;}

.container {
  margin: 0 auto;
}


.container{
	width: 300px;
}
@media (min-width: 420px) {
  .container {
    width: 410px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}